version: '3'
services:
  snils_mock:
    build:
      context: .
      dockerfile: Dockerfile
    image: snils_mock
    container_name: snils_mock
    ports:
      - "8088:8088"
    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 512M